@import 'base.scss';

#footer {
   @extend %flex-center;
   margin-top: 20px;
   display: flex;
   padding: 6vw;
 }
 
 #footer p {
   color: $light-black;
   font-weight: 300;
   font-size: 1.5vw;
 }
 
 #qr {
   margin-top: 20px;
   width: 7vw;
   height: 100%;
 }